* {
    margin: 5px;
    padding: 15px;
}

body {
    margin: auto;
    width: 960px;
    background-color: #777;
    text-align: center;
    color: #777;
    font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

body>* {
    background-color: #ebebeb;
}

header,
nav,
footer {
    background-color: #ebebeb;
}

section {
    float: left;
    width: 495px;
}

aside {
    float: left;
    width: 384px;
    height: 202px;
}

article {
    background-color: #777;
    color: #ebebeb;
}

article > * {
    background-color: #ebebeb;
    color: #777;
}

.clear {
    clear: both;
}